main {
	display: block;
	margin: 0 auto;
}

#header_section {
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: #C70039;
	border-radius: 2rem;
	display: block;
}

#header_section h1 {
	text-align: center;
}

.task-id-p {
	font-weight: 700;
	text-align: left;
}

.priority-p {
	font-weight: 800;
	font-style: italic;
	text-align: right;
}

.tasks-p {
	padding: 1rem;
	font-weight: 700;
	font-style: italic;
	text-align: center;
}

.todo-item-container {
	background-color: #F8DE22;
	color: #900C3F;
	border-radius: 1rem;
	margin-bottom: 0.5rem;
}

#add_section {
	background-color: #F94C10;
	margin-top: 1rem;
	margin-bottom: 2rem;
	border-radius: 1rem;
}

#main_section {
	position: relative;
	height: min-content;
	overflow: hidden;
}

.todo-item-container {
	box-sizing: border-box;
	position: relative;
	left: 0;
	right: 0;
	width: 100%;
	height: max-content;
	transition: all 1.50s ease-in-out;
}

.todo-item-container.right{
	left: 100%;
}

.todo-item-container.left {
	left: -100%;
}

/* .todo-item-container.squeeze-out > .grid-item {
	transition: display 1.5s ease;
	display: none;
} */

@media scree and (min-width: 512px) {
	main {
		width: 90%;
	}
}

@media screen and (min-width: 720px) {
	main {
		width: 75%;
	}
}